
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Resultado</title>
</head>
<body>
    <div>
        <h3>Nome: @ViewBag.ObjetoCliente.Nome</h3>
        <h3>Rg: @ViewBag.ObjetoCliente.Rg</h3>
        <h3>Datanascimento: @ViewBag.ObjetoCliente.Datanascimento</h3>
        <h3>Sexo: @ViewBag.ObjetoCliente.Sexo</h3>
        <h3>Estadocivil: @ViewBag.ObjetoCliente.Estadocivil</h3>
        <h3>Rendamensal: @ViewBag.ObjetoCliente.Rendamensal</h3>
        <h3>Logradouro: @ViewBag.ObjetoCliente.Logradouro</h3>
        <h3>Numero: @ViewBag.ObjetoCliente.Numero</h3>
        <h3>Complemento: @ViewBag.ObjetoCliente.Complemento</h3>
        <h3>Estado : @ViewBag.ObjetoCliente.Estado </h3>
        <h3>Cidade: @ViewBag.ObjetoCliente.Cidade</h3>
       
    </div>
</body>
</html>
